<!-- Made With Love -->
<div class="fh5co-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h2>{{ content.field_title.0 }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        {{ content.field_description.0 }}
      </div>
      <div class="col-md-6">
        {{ content.field_right_side_content.0 }}
      </div>
      {% if content.field_url.0|render is not empty %}
        <p><a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-primary">
        {{ content.field_url[0]['#title'] }}</a></p>
      {% endif %}
    </div>
  </div>
</div>